*{
    margin: 0;
    padding: 0;
    font-family: 'Cantarell', sans-serif;
}
body{
    padding: 5px 5px;
    background: radial-gradient(#11213f 100%, #0B0B0B 100%, #021740 83.76%, #021740 0%);
    padding-top: 92px;
    padding-left: 90px;
}

h1, h2{
    color: #3D2DA6;
}

p{
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    text-align: justify;
}


/*Header Style*/

header{
    position:fixed;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #fff;
    top:0;
    left: 0;
    right: 0;
    height: 90px;
    /*background-color: rgb(0, 0, 0);*/
    padding: 0px 100px;
}
.header-left-part{
    display: flex;
    flex: 100px;
}
.header-right-part p{
    display: flex;
    flex: 1;
    justify-content:center;
    align-items: center;
}
.header-right-part a{
    margin: 0px 20px;
    color: #fff;
}

/*Section 1 Acceuil*/
.section1-acceuil{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-left-part{
    flex: 1;
}

.section1-left-part h1{
    
    font-size: 40px;
    margin-left: 30px;
}

.section1-left-part h2{
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 15px;
}

.section1-left-part p{
    color: #fff;
    margin-left: 30px;
    line-height: 20px;
}


.section1-right-part img{
    height: 550px;
}

/*Section Personnage Acceuil*/
.personnage-carte{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: -70px;
}

.carte-container{
    display: flex;
    flex: 1;
    background-color: #021740;
    height: 250px;
}

.img-carte img{
    height: 250px;
}

.texte-carte{
    flex: 1;
    padding: 40px 20px;
}

/*detail-section Styles*/
.detail-section{
    display: flex;
    margin-top: 120px;
}


.left-detail-section{
    flex:1;
    padding-left: 50px;
}

.paragraph-section{
    margin-bottom: 30px;
}

.paragraph-section p{
    line-height: 25px;
    margin-bottom: 10px;
}

.right-detail-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex:100px;
}



.form-section{
    background-image: url(Illustrations\Accueil\Pantherhome7.png);
    background-position: center;
    background-size: cover;
    width: 100%;
}




